<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginVersion</key>
    <string>2022.2.0</string>
    <key>ServerApiVersion</key>
    <string>3.1</string>
    <key>IwsApiVersion</key>
    <string>1.0.0</string>
    <key>CFBundleDisplayName</key>
    <string>Example Action API</string>
    <key>CFBundleIdentifier</key>
    <string>com.indigodomo.indigoplugin.example-action-api</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>/com.indigodomo.indigoplugin.example-action-api/static/html/about.html</string>
        </dict>
    </array>
</dict>
</plist>
