<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginVersion</key>
    <string>2023.2.0</string>
    <key>ServerApiVersion</key>
    <string>3.4</string>
    <key>CFBundleDisplayName</key>
    <string>Example HTTP Responder</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.indigoplugin.example-http-responder</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>/com.indigodomo.indigoplugin.example-http-responder/static/html/about.html</string>
        </dict>
    </array>
</dict>
</plist>
